<%- include('partials/header.ejs') %>
<body>
<div class="container">
    <h4 class="text-center"><%= host %></h4>
    <p class="text-center"><%= logError %></p>
</div>
</body>
<%- include('partials/footer.ejs') %>
